@charset "utf-8";
*{
			margin:0;padding: 0;
			list-style: none;
			outline: none;
			font-family:"微软雅黑";
		}
		body {
			background-image:url(../images/bk_main.png);
		}
		.center {
			width:1170px;
			margin:0 auto;
/*			height:80px;*/
		}
		
		#header{
			background-image:url(../images/header.png);
			height:50px;
			margin-bottom: 20px;
			box-shadow:5px 5px 5px #777;
		}
		.left {
			float:left;
		}
		.left ul li {
			font-size:14px;
			margin-left:10px;
			/*background: red;*/
			float:left;
		}
		.left ul li a {
			text-shadow: 2px 2px  -2px #aaa;
			text-decoration: none;
			color:#f2f2f2;
		}
		.header_wrap {
			line-height: 50px;
			overflow: hidden;
		}
		.header_wrap .logo {
			font-size:18px;
			font-family:"Tahoma,'Microsoft Yahei','Simsun'";
		}
		.right {
			float:right;
		}
		.right input[type="text"] {
		    background-color:#f9f9f9;
		    border-style:none;
		    padding-left:10px;
		    margin:9px 10px;
		    width:320px;
		    height:30px;
			display:block;
			float:right;
		}
		.right input[type='submit']{
		    
		    margin:9px 10px;
			cursor:pointer;
			width:70px;
			height:28px;
			float:right;
			display:block;
			border:1px solid #f2f2f2;
			background-color:#99cc66;
			font-size:12px;
			color:#f2f2f2;
		}
		.right input[type='submit']:hover {
		     background-color:#99c100;
		}
		.content_left {
			float:left;
			width: 850px;
			height:1160px;
			left:0px;
			margin-bottom: 20px;
			/* box-shadow:7px 7px 5px #777; */
		}
		
		/*数据展示区*/
		#data {
			width:100%;
		}
		#dataList{
		 display: block;
		 width:100%;
		 background-color:#f2f2f2;
		}
		#dataList li {
			width:100%;
			height:74px;
		}
		.data_li_center {
			height:50px;
			width:830px;
			margin:0px auto;
			padding-bottom:8px; 
			padding-top:5px; 
			border-bottom:1px solid #b1b1b1;
			font-size:14px;
			color:#666;
		}
		.data_li_center a {
			color:#787878;
			text-decoration: none;
		}
		.data_li_center a:hover {
			color:#000;
		}
		.data_user_icon {
			margin-top:3px; 
			text-decoration: none;
			display: block;
			float:left;
		}
		.data_user_icon img{
			background-color:white;
			border-radius: 48px;
			border:1px solid #aaa; 
		}
		.data_li_left {
			float:left;
			height:100%;
			margin-left:5px;
		}
		.data_li_center .data_li_type {
			color:#444;
			width:40px;
			height:20px;
			text-align: center;
			display: inline-block;
			background-color:#CAAF6A;
			border-radius: 5px;
		}
		.data_center_right {
			margin-top:15px;
			padding-left:10px;
			padding-right:10px;
			background-color:#CAAF6A;
			display:block;
			height:24px;
			text-align: center;
			line-height: 24px;
			border-radius: 5px;
			float:right; 
		}
		.next,.upper {
			margin-bottom:5px;
		    color:#666;
		    text-decoration: none;
			display: block;
			font-size:14px;
			cursor: pointer;
		}
		.next {
		  margin-right:10px;
		  float:right;
		}
		.upper {
		  float:left;
		  margin-left:10px;
		}
		.data_footer {
		 height:26px;
		 background-color:#f2f2f2;
		}
		.data_footer a:hover {
		     color:black;
		}
		
		.data_footer .pagecounter {
		  display: block;
		  width:500px;
		  text-align:center;
		  margin:0 auto;
		  color:#666;
		  font-size:14px;;
		}
		
		.content_nav{
			box-shadow
			:2px 2px 1px #777;
        	background-image:url(../images/nav.png);
			width: 100%;
			overflow: hidden;
		}
		.content_left .content_nav .sort{
		    line-height:32px;
			float:right;
			margin-right:15px;
			font-size:12px;
			color:#fff;
		}
		.content_nav li {
		    padding-left:15px;
			line-height: 32px;
/*			border:1px solid #aaa;*/
/*			background: green;*/
			width:58px;
			height:32px;
			float:left;
			color:#f2f2f2;
			text-decoration: none;
			font-size:14px;
		}
		.content_nav li {
			
		}
		.content_nav li:hover {
		    cursor: pointer;
		}
		.selected{
		  background-color:#f2f2f2;
		}
		.content_nav .selected {
		  color:#666;
		}
		.content_right {
			width:280px;
			float:right;
		}
		.user {
			width:100%;
			height:190px;
			background-color:#f2f2f2;
			
		}
		.content_right_p {
		  box-shadow:2px 2px 1px #777;
		  padding-left:10px;
		  line-height:32px;
		  height:32px;
		  background-image:url(../images/nav.png);
		  color:#f2f2f2;
		}
		.user_info {
			margin-top:20px;
			/* background-color:red;  */
			height:80px;
		}
		.user_info a{
			color:#666;
			font-size:14px;
			text-decoration: none;
		} 
		.user_info .user_icon {
		    margin-left:8px; 
			display:block;
			float:left;
		}
		.user_info_item {
		  margin-left:8px;
		  width:180px;
		 /*  background-color:green; */
		  float:left;
		}
		.user_info p {
			width:100%;
		}
		.user_info p a{
		   display:block;
		   width:100%;
		   height:22px;
		   overflow: hidden;
		}
		.user_info p a:hover {
			text-decoration: underline;
		}
	    .user_nickname {
			font-weight: bold;
		} 
		.user .fatie {
		    text-decoration: none;
		    font-weight:bold;
			color:#f2f2f2;
			margin-left:8px;
			margin-top:15px;
		    clear:both;
			height:32px;
			width:220px;
			text-align:center;
			line-height:32px;
			background-color:#99cc66;
			display:block;
		}
		.user .fatie:hover {
			background-color:green;
		}
		.user_info img{
			border-radius: 3px;
			border:2px solid #e2e2e2;
		}
		 
		.today {
		 height:640px;
		 padding-bottom:8px;
		 overflow: hidden;
		}
		.today_p {
		  margin-left:32px;
		  margin-top:5px;
		  font-size:14px;
		  color:#666;
		}
		.today_p_wrap img{
		   float:left;
		   margin-top:3px;
		   border-radius: 32px;
		   border:1px solid #aaa; 
		}
 	   .today_p a {
		  text-decoration:none;
		  color:#666;
		}
		.today_p a:hover {
			color:black;
		}
		
		.today_p_wrap {
		   padding-left:5px;
		   border-bottom:1px solid #e2e2e2;
		} 
		.sugg{
			margin-top:20px;
			width:100%;
			height:282px;
			background-color:#fafafa;
		}
		.sugg_p {
		  color:#666;
		  font-size:14px;
		  line-height:32px;
		  padding:0 10px;
		  border-bottom:1px solid #e2e2e2; 
		}
		.sugg_p a {
		  color:#666;
		}
 		.today {
		    margin-top:20px;
			width:100%;
			background-color:#f2f2f2;
		}
		
		/*底部css*/
		#footer {
			margin-top:20px;
			padding-top:35px;
		    clear:both;
			width:100%;
			height:80px;
			/* background-color:#f8f8f8; */
		}
		#footer .footer_wrap {
		 margin-top:20px;
		 text-shadow: 1px 1px 3px #000;
		 font-size:12px;
		 bottom:0px;
		 width:100%;
		 /* background:red; */
		}
		#footer ul{
		 overflow:hidden;
		 width:480px;
		 margin:0 auto;
		 margin-bottom:10px;
		/*  background-color:red; */
		}
		#footer ul li {
		 font-size:14px;
		  width:80px;
		 /*  background-color:red; */
		  float:left;
		}
		#footer ul li span {
		 color:#f2f2f2;
		}
		#footer ul li a{
		 text-decoration:none;
		 color:#f2f2f2;
		}
		#footer p {
	        font-size:14px;
	        color:#f2f2f2;
		  /*   background-color:green; */
			width:480px;
			text-align:center;
			clear:left;
			margin:0 auto;
		}
		
		
		
		
		