@charset "utf-8";
*{
			margin:0;padding: 0;
			list-style: none;
			outline: none;
			font-family:"微软雅黑";
		}
		body {
			background-image:url(../images/bk_main.png);
		}
		.center {
			width:1170px;
			margin:0 auto;
/*			height:80px;*/
		}
		#header{
			background-image:url(../images/header.png);
			height:50px;
			margin-bottom: 20px;
			box-shadow:5px 5px 5px #777;
		}
		.left {
			float:left;
		}
		.left ul li {
			font-size:14px;
			margin-left:10px;
			/*background: red;*/
			float:left;
		}
		.left ul li a {
			text-shadow: 2px 2px  -2px #aaa;
			text-decoration: none;
			color:#f2f2f2;
		}
		.header_wrap {
			line-height: 50px;
			overflow: hidden;
		}
		.header_wrap .logo {
			font-size:18px;
			font-family:"Tahoma,'Microsoft Yahei','Simsun'";
		}
		.right {
			float:right;
		}
		.right input[type="text"] {
		    background-color:#f9f9f9;
		    border-style:none;
		    padding-left:10px;
		    margin:9px 10px;
		    width:320px;
		    height:30px;
			display:block;
			float:right;
		}
		.right input[type='submit']{
		    
		    margin:9px 10px;
			cursor:pointer;
			width:70px;
			height:28px;
			float:right;
			display:block;
			border:1px solid #f2f2f2;
			background-color:#99cc66;
			font-size:12px;
			color:#f2f2f2;
		}
		.right input[type='submit']:hover {
		     background-color:#99c100;
		}
		
		
		#content{
			width:1000px;
		}
		.p_head {
		 width:990px;
		 height:32px;
		 line-height:32px;
		 color:#666;
		 text-align:left;
		 padding-left:10px;
		 border-bottom:1px solid #e2e2e2;
		 background-color:#f2f2f2; 
		}
		 @font-face {
            font-family:xjl;
            src:url(/bbs/font/xjlFont.ttf);
         }
		.user_intro{
		    padding-top:20px;
			height:100px;
		}
		.user_intro p {
		    margin-top:10px;
		    font-size:24px;
		    font-family:xjl;
		    color:#fafafa;
		}
		.user_intro img{
		    margin-left:20px;
			border-radius: 52px;
			border:1px solid #aaa; 
		}
		.user_intro_left a{
		  font-family:xjl;
		  font-size:20px;
		  color:#fafafa;
		 }	
		 .return {
		   color:#f2f2f2;
		   font-size:14px;
		   text-decoration: none;
		 }	
		.user_wrap {
		  font-size:15px;
		  margin-top:20px;
		  background-color:#fafafa;
		}
		.user_ul {
		 margin-left:20px;
		 margin-right:20px;
		}
		.man,.woman {
	      display:inline-block;
		  height:16px;
		  width:16px;
		  background-image:url(/bbs/images/sex.png);
		  background-repeat: no-repeat;
		}
		.woman {
			 background-position: 0 -16px;
		}
		.user_intro_left {
		 float:left;
		}
		.user_intro_right {
		    float:right;
		    height:100px;
		}
		.user_post li {
		   border-bottom:1px solid #e2e2e2;
		   line-height:32px;
		   height:64px;
		}
		.user_post li a {
		  color:#666;
		  text-decoration: none;
		}
		.loadmore {
	        display:none;
		    cursor:pointer;
		    font-size:14px;
			text-align: center;
			color:#666;
			height:24px;
			width:100%;
			background-color:#fafafa;
			line-height:24px;
		}
		.user_post li span {
		    display: block;
		    float:right;
		    color:#666
		}
		.user_post li span:hover  {
		    color:black;
		    cursor: pointer;
		}
		.user_post li a:hover {
		  color:black;
		}
		.user_post li  p {
		 line-height: 32px;
		}
		
		
		
	
		.user_collection li span {
		    display: block;
		    float:right;
		    color:#666
		}
		.user_collection li a {
		  color:#666;
		  text-decoration: none;
		}
		.user_collection li {
		   border-bottom:1px solid #e2e2e2;
		   line-height:32px;
		   height:64px;
		}
		.user_collection li span:hover  {
		    color:black;
		    cursor: pointer;
		}
		.user_collection li a:hover {
		  color:black;
		}
		.user_collection li  p {
		 line-height: 32px;
		}
		
		
		
		.user_comment_li .user_comment_span {
		    display: block;
		    float:right;
		    color:#666
		}
		.user_comment_a {
		  color:#666;
		  text-decoration: none;
		}
		.user_comment_div {
		  overflow: hidden;
		}
		.user_comment_li {
		   padding-top:5px;
		   padding-bottom:5px;
		   border-bottom:1px solid #e2e2e2;	
		}
		.user_comment_span:hover  {
		    color:black;
		    cursor: pointer;
		}
		.user_comment_a:hover {
		  color:black;
		}
		.user_comment_p {
		 line-height: 32px;
		}
		
		/*底部css*/
		#footer {
			margin-top:20px;
			padding-top:35px;
		    clear:both;
			width:100%;
			height:80px;
			/* background-color:#f8f8f8; */
		}
		#footer .footer_wrap {
		 margin-top:20px;
		 text-shadow: 1px 1px 3px #000;
		 font-size:12px;
		 bottom:0px;
		 width:100%;
		 /* background:red; */
		}
		#footer ul{
		 overflow:hidden;
		 width:480px;
		 margin:0 auto;
		 margin-bottom:10px;
		/*  background-color:red; */
		}
		#footer ul li {
		 font-size:14px;
		  width:80px;
		 /*  background-color:red; */
		  float:left;
		}
		#footer ul li span {
		 color:#f2f2f2;
		}
		#footer ul li a{
		 text-decoration:none;
		 color:#f2f2f2;
		}
		#footer p {
	        font-size:14px;
	        color:#f2f2f2;
		  /*   background-color:green; */
			width:480px;
			text-align:center;
			clear:left;
			margin:0 auto;
		}